p {
  word-break: break-word;
  overflow-wrap: break-word;
}

.question {
  margin-top: 26px;
  .questionWraper {
    padding: 12px;
    background: rgba(0, 146, 101, 0.03);
    border: 1px solid #009265;
    border-radius: 3px;
    line-height: 1.8;
    &:hover {
      background: rgba(0, 146, 101, 0.12);
    }
    .qt_label {
      .questionType {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none !important;
      }
    }
  }
  &.check_error {
    & > .questionWraper {
      background: rgba(223, 59, 8, 0.03);
      border: 1px solid #df3b08;
      &:hover {
        background: #fdf5f2;
      }
    }
  }
  // .qt_splite {
  //   margin: 16px 16px;
  //   border-bottom: 1px solid  #E8E8E8;
  // }
}

.question-operation {
  display: flex;
  width: calc(100% - 25px);
  height: 26px;
  cursor: default;
  align-items: center;
  justify-content: space-between;
  .question-info {
    display: flex;
    background: #009265;
    border: 1px solid #009265;
    border-radius: 3px 3px 0 0;
    cursor: default;
    justify-content: center;
    align-items: center;
    .question-type,
    .question-data-error {
      display: flex;
      width: fit-content;
      height: 26px;
      padding: 0 8px;
      cursor: default;
      font-size: 15px;
      line-height: 18px;
      color: #ffffff;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
    .question-data-error {
      font-size: 13px;
      line-height: 18px;
      color: rgba(255, 255, 255, 0.85);
    }
    .question-info-intervalo {
      width: 1px;
      height: 12px;
      background-color: rgba(255, 255, 255, 0.85);
    }
  }
  .question-operation-group {
    display: flex;
    height: 26px;
    font-size: 12px;
    line-height: 16px;
    color: #666666;
    align-items: center;
    justify-content: flex-start;
    i {
      font-size: 12px;
    }
    .question-operation-edit:hover {
      color: #161a2e;
    }
    .question-operation-remove {
      margin-left: 24px;
    }
    .question-operation-remove:hover {
      color: #df3b08;
    }
    .question-operation-edit,
    .question-operation-remove {
      display: flex;
      cursor: pointer;
      justify-content: flex-start;
      align-items: center;
      span {
        margin-left: 4px;
      }
    }
  }
}
.question-operation-error {
  .question-info {
    background: #df3b08;
    border: 1px solid #df3b08;
  }
}
